<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="guilherme.krzisch.com.mybeaconclient">
    // Bluetooth
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    //GPS
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    // Just for debug
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.old_files.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.old_files.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".view.old_files.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".view.MainTabActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guilherme.krzisch.com.mybeaconclient.view.MainTabActivity" />
        </activity>
        <activity
            android:name=".view.sync_options.AboutActivity"
            android:parentActivityName=".view.MainTabActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guilherme.krzisch.com.mybeaconclient.view.MainTabActivity" />
        </activity>
        <activity
            android:name=".view.MainTabActivity"
            android:label="@string/title_activity_main_tab"
            android:parentActivityName=".view.MainTabActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guilherme.krzisch.com.mybeaconclient.view.MainTabActivity" />
        </activity>
        <activity
            android:name=".view.sync_options.MainSyncActivity"
            android:label="@string/action_settings"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.splash_screen.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.testes.CompassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.free_navigation.FreeNavSearchActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guilherme.krzisch.com.mybeaconclient.view.MainTabActivity" />
        </activity>
        <activity
            android:name=".view.sync_options.TutorialActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guilherme.krzisch.com.mybeaconclient.view.MainTabActivity" />
        </activity>
        <activity
            android:name=".view.add_routes.AddRouteActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guilherme.krzisch.com.mybeaconclient.view.MainTabActivity" />
        </activity>
        <activity
            android:name=".view.route_navigation.RouteActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guilherme.krzisch.com.mybeaconclient.view.MainTabActivity" />
        </activity>
        <activity android:name=".view.route_navigation.RouteMainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guilherme.krzisch.com.mybeaconclient.view.MainTabActivity" />
        </activity>
    </application>

</manifest>